<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/products" method="post">
        <label for="code">Code: </label>
        <input type="text" name="code" id="code">
        <br>
        <label for="name">Name: </label>
        <input type="text" name="name" id="name">
        <br>
        <label for="price">Price: </label>
        <input type="text" name="price" id="price">
        <br>
        <label for="stock">Stock: </label>
        <input type="text" name="stock" id="stock">
        <input type="submit" value="Add">

        <form action="/products" method="get">
            <input type="submit" value="Ver">
        </form>

    </form>
</body>
</html>